# Node.js
node_modules/
.pnp/
.pnp.js
yarn.lock
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build e distribuição
dist/
out/
build/
tmp/
temp/

# Binários grandes (evitar push acidental)
*.AppImage
*.deb
*.tar
*.tar.gz
*.tar.xz
*.zip
*.exe
*.msi
*.dmg
*.pkg

# Arquivos temporários de SO
.DS_Store
Thumbs.db

# Logs
*.log

# Outros
coverage/

